{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
        .h3{
            text-decoration: underline black;
        }

        .h5{
            text-decoration: underline black;
        }

    </style>

{% if is_granted("ROLE_USER") or is_granted("ROLE_ADMIN") %}

    {%if is_granted("ROLE_USER")%}

        {#  PARA MOSTRAR TODO SI NO ESTÁ BANEADO, O NADA SI ESTÁ BANEADO#}


        {# AL PONER LO SIGUIENTE, NOS SALE TANTO EN LA VISTA DEL ADMIN COMO EN LA DEL USUARIO NORMAL
        AQUI ABAJO FALTA LO DE if user == userNB, ASI IRIA EN LA VISTA DEL USUARIO NORMAL, PERO LA DE LOS ADMIN TAMBIEN IRIA
        #}
        {% if app.user.getVisible == '1' %}
            {% for foro in foro %}
                <div style="border: 1px solid black; margin: 10px; padding: 10px">
                    <h3>{{foro.title}}</h3>
                    {%for hilos in foro.hilos %}
                       <div style="border: 1px solid black; margin: 10px; background-color: bisque; padding: 10px;">
                            <h4>{{hilos.title}}</h4>
                            <br>
                            <p>{{hilos.text}}</p>
                            <br>
                           {%for HiloComentario in hilos.HiloComentario %}
                                <div style="border: 1px solid black; margin: 10px; background-color: biege; padding: 10px;">
                                    <p>{{HiloComentario.text}}</p>
                                    <p>Autor: {{HiloComentario.user}} el dia: {{HiloComentario.date|date('d:m:y')}} a las {{HiloComentario.date|date('H:i')}}</p>
                                </div>
                            {% endfor %}
                            <a href="/comentarios/new/{{hilos.id}}">Crear un comentario</a>
                        </div>
                    {% endfor %}
                    <a href="/hilo/new/{{foro.id}}">Crear un hilo</a>
                </div>
            {% endfor %}
        {% else %}
            <div style="border: 1px solid black; margin: 10px; background-color: red; padding: 10px;">
                <h1>You are banned!! go to the thinking corner</h1>
            </div>
        {% endif %}
    {% endif %}

    {%if is_granted("ROLE_ADMIN")%}

            {# PARA CREAR FOROS #}
            <div style="border: 1px solid black; margin: 10px; background-color: darkseagreen; padding: 10px">
                <h2>Crea un nuevo foro</h2>
                <a href="{{ path('foro_new') }}">Nuevo foro</a><br><br>
            </div>

            {# PARA VER LOS USUARIOS QUE HAY BANEADOS #}

            <br><br>
            <div style="border: 1px solid black; margin: 10px; background-color: darkred; padding: 10px;">
                <h4>Usuarios baneados</h4>
                {% for userB in userB %}
                <div style="border: 3px solid black; margin: 5px;">
                    <h5>{{userB.username}}</h5>
                    <img src="imagenes/{{userB.image}}" width="50"><br>
                    <a href="/user/noBanned/{{userB.id}}/">Desbanea</a><br><br><hr style="border: 1px solid black">
                </div>
                {% endfor %}
            </div>

            {# PARA VER LOS USUARIOS QUE NO HAY BANEADOS Y PARA HACERLOS ADMIN CON UNA FUNCION AYAX #}

            <div style="border: 1px solid black; margin: 10px; background-color: powderblue; padding: 10px">
                <h4>Usuarios no baneados</h4>
                {% for userNB in userNB %}
                    <div style="border: 3px solid black; margin: 5px;">
                        <h5>{{userNB.username}}</h5>
                        <img src="imagenes/{{userNB.image}}" width="50"><br>
                        <a href="/user/banned/{{userNB.id}}/">Banear</a><br>
                        <div onclick="admins({{userNB.id}})">Hacer Admin</div>
                    </div>
                {% endfor %}
            </div>
            {#VER LOS FOROS PÚBLICOS Y HACERLOS PRIVADOS SI QUIERES #}
             <div style="border: 1px solid black; margin: 10px; background-color: skyblue; padding: 10px">
            <div style="border: 1px solid black; margin: 10px; padding: 10px">
                <h3>Foros públicos</h3>
                {% for foroPublic in foroPublic%}
                    <div style="border: 3px solid black; margin: 5px;">
                    <h5>{{foroPublic.title}}</h5>
                    <a href="/foro/noPublico/{{foroPublic.id}}/">Cambiar estado(Privado)</a><br><br>
                </div>
                {% endfor %}
            </div>

            {#VER LOS FOROS PRIVADOS Y HACERLOS PÚBLICOS SI QUIERES #}

            <div style="border: 1px solid black; margin: 10px; padding: 10px">
                <h3>Foros privados</h3>
                {% for foroNoPublic in foroNoPublic%}
                    <div style="border: 3px solid black; margin: 5px;">
                    <h5>{{foroNoPublic.title}}</h5>
                    <a href="/foro/publico/{{foroNoPublic.id}}/">Cambiar estado (Publico)</a><br>
                </div>
                {% endfor %}
            </div>
</div>
    {% endif %}
{% else %}
        {% for foroPublic in foroPublic%}
            <h5>{{foroPublic.title}}</h5>
            <hr style="border: 1px solid black">
            {%for hilos in foroPublic.hilos %}
                <div style="border: 1px solid black; margin: 10px; background-color: bisque; padding: 10px;">
                    <h4>{{hilos.title}}</h4>
                    <br>
                    <p>{{hilos.text}}</p>
                    <br>
                    {%for HiloComentario in hilos.HiloComentario %}
                                <div style="border: 1px solid black; margin: 10px; background-color: beige; padding: 10px;">
                                    <p style="font-family: Arial, Helvetica, sans-serif;">{{HiloComentario.text}}</p>
                                    <div style="background-color: lightgoldenrodyellow;">
                                   <p>Autor: {{HiloComentario.user}} el dia: {{HiloComentario.date|date('d:m:y')}} a las {{HiloComentario.date|date('H:i')}}</p>
                                    </div>
                                </div>
                            {% endfor %}
                    <br>
                </div>
            {% endfor %}
    {% endfor %}
{% endif %}
{% endblock %}
